* {
  font-family: "Courier New", Courier, monospace;
  color: lightgreen;
}
:root {
  background-color: black;
  padding: 8px;
}

.no-default-underline {
  text-decoration: none;
}

.no-default-underline:hover {
  text-decoration: underline;
}
